/* App.css */

:root {
  --primary-color: #5c6bc0; /* Orta ton mavi */
  --secondary-color: #ffca28; /* Altın sarısı */
  --background-color: #f5f5f5; /* Açık gri arkaplan */
  --text-color: #263238; /* Koyu gri metin */
  --success-color: #66bb6a; /* Başarılı bağlantı yeşili */
  --error-color: #e57373; /* Hata kırmızısı */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.card {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
}

.connected-status {
  color: var(--success-color);
}

.alert {
  color: var(--error-color);
}

label {
  display: block;
  margin-top: 20px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: start;
}

.checkbox-group input[type='checkbox'] {
  margin-right: 5px;
}

/* Responsive grid layout for forms */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

/* Utility classes for spacing */
.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

/* Utility classes for text alignment */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.Title {
  color:#66bb6a;
  font-size: 37px;
  font-weight: Bold;
}
.EndTitle {
  padding: 100px;
 
  color:red;
  font-size: 45px;
  font-weight: Bold;

}

